
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
}

.game-container{
  display: grid;
  grid-template-columns: repeat(4, 196px);
  gap: 24px;
}

.card{
  position: relative;
  width: 196px;
  height: 211px;
  perspective: 300px;
}

.card-back, .card-front{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  transition: rotate 0.3s;
  backface-visibility:hidden;

  /* como se va a comportar la parte de atras de algo cuando lo gires 180grados, en este caso, volverse transparente, para que la cardback se vea*/
  box-shadow: 5px 5px 5px rgb(0 0 0/0.6);
}
.card-front{
  background-image: var(--poke-img);
  background-size: 80%;
  background-repeat: no-repeat;
  rotate: y 180deg;
}
.card-back{
  background-color: rgb(241, 111, 165);
}

.card-clicked .card-back{
   rotate: y 180deg;
 }
 .card-clicked .card-front{
    rotate: y 360deg;
  }
